:root {
  --main-font: "Outfit", sans-serif;
  --card-background: hsl(216, 50%, 16%);
  --main-background: hsl(217, 54%, 11%);
  --cyan: hsl(178, 100%, 50%);
  --white: rgb(255, 255, 255);
  --soft-blue: hsl(215, 51%, 70%);
  --dark-blue: hsl(215, 32%, 27%);
}

body {
  background-color: var(--main-background);
  color: var(--white);
  font-family: "Outfit", sans-serif;
}
h1 {
  text-align: left;
  font-size: 1.36em;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 0px;
}
h1:hover {
  color: var(--cyan);
}

.container-line {
  border: none;
  height: 1px;
  background-color: var(--dark-blue);
}

.img-overlay {
  background-image: url("images/icon-view.svg");
  position: absolute;
  background-color: rgba(67, 196, 219, 0);
  width: 285px;
  height: 285px;
  border-radius: 5px;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20% 20%;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.img-overlay:hover {
  background-color: rgba(67, 196, 219, 0.801);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.img-main {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  z-index: -1;
}

/* .img-main:hover {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
  Great color overlay solution !!! (not in my case :( )
  filter: opacity(0.8) drop-shadow(0 0 0 var(--cyan));
} */

.text-normal {
  color: var(--soft-blue);
  font-weight: 300;
  text-align: left;
  /* font-size: 0.95em; */
  font-size: 18px;
}
.text-small {
  color: var(--soft-blue);
  font-weight: 300;
  text-align: left;
  font-size: 0.9em;
}
.text-white {
  color: var(--white);
  font-weight: 300;
  text-align: left;
  font-size: 0.9em;
}

.text-white:hover {
  color: var(--cyan);
}

.container {
  margin-top: 10%;
  top: 50%;
}
.container-details {
  padding-bottom: 15px;
}
.rounded-box {
  background-color: var(--card-background);
  margin: auto;
  border-radius: 15px;
  text-align: center;
  padding: 20px 20px;
  max-width: 17.8rem;
  -webkit-box-shadow: 0px 16px 62px -13px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 16px 62px -13px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 16px 62px -13px rgba(0, 0, 0, 0.3);
}

.pricing-container {
  display: inline;
  padding-right: 55px;
}
.timing-container {
  display: inline;
  padding-left: 55px;
}

.creator {
  text-align: left;
  padding-bottom: 10px;
}
.img-avatar {
  border-radius: 50%;
  display: inline;
  width: 10%;
  border: 1px solid var(--white);
  position: relative;
  top: 8px;
  margin-right: 10px;
}

.icon {
  display: inline;
  position: relative;
  top: 3.35px;
  right: 4.35px;
}
.text-eth {
  color: var(--cyan);
  font-weight: 600;
  font-size: 0.95rem;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
